!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-static
      .container
        .navbar-header
          =link_to raw('<b>eReviews</b>'), root_path, class: 'navbar-brand'
          %a.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
            %span.glyphicon.glyphicon-chevron-down
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              =link_to 'Categories', categories_path
          %ul.nav.navbar-right.navbar-nav
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.glyphicon.glyphicon-user
                  = ' ' + current_user.email + ' '
                  %i.glyphicon.glyphicon-chevron-down
                %ul.dropdown-menu
                  %li
                    =link_to 'Profile', current_user
                  %li.divider
                  %li
                    =link_to('Log out', destroy_user_session_path, method: :delete)
            - else
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.glyphicon.glyphicon-user
                  %i.glyphicon.glyphicon-chevron-down
                %ul.dropdown-menu
                  %li
                    = link_to('Sign in', new_user_session_path)
                  %li.divider
                  %li
                    = link_to('Sign up', new_user_registration_path)

    / Begin Body
    .container
      .no-gutter.row
        / left side column
        .col-md-3
          #sidebar.panel.panel-default
            .panel-heading{:style => "background-color:#888;color:#fff;"}
              Categories
            .panel-body
              %ul.nav.nav-stacked
                - categories.each do |cat|
                  %li{:class => active(cat) }
                    = link_to cat.name, cat
        / /panel body
        / /panel
        / /end left column
        #content.col-md-9
          .panel
            .panel-heading{:style => "background-color:#111;color:#fff;"}
              %br
            .panel-body
              .row
                .col-md-8
                  =yield
    %footer
      .container
        .row
          .col-md-12.text-right
            %h5 ©Company 2014